body {
    font-family: sans-serif;
    font-size: 1em;
    background-color: bisque;
}

.containerflex {
    margin-top: 320px;
    text-align: center;
}

.container {
    text-align: center;
}

.container h1 {
    color: rgb(87, 241, 87);
}

.container img {
    max-width: 100%;
}

input {
    width: 100px;
    border: 1px solid rgb(25, 33, 145);
    padding: 5px;
    font-size: 1.1em;
}

img {
    width: 250px;
    height: 250px;
}