/* style.css */

/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4e5e5;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.container img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.container form {
    text-align: center;
}

.container input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.container input[type="button"],
.container input[type="reset"] {
    width: 49%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #14cd29;
    color: #fff;
    cursor: pointer;
}

.container input[type="button"]:hover,
.container input[type="reset"]:hover {
    background-color: #078b1f;
}

.container input[type="number"][disabled] {
    background-color: #ffffff;
    color: #000000;
}

.containerflex {
    text-align: center;
    margin-top: 20px;
}

.containerflex p {
    font-size: 12px;
    color: #666;
}

